* {
    border: 0;
    padding: 0;
}

.item {
    width: 50px;
    height: 50px;
    background-color: black;
}

.selected {
    border: 2px red dashed;
}

.item:hover {
    cursor: pointer;
}

.dropdown-toggle {
    position: absolute !important;
}

.box {
    padding: 0;
    border: 1px solid black;
    width: 98vw;
    height: 94vh;
}

.startItem {
    width: 90%;
    height: 5%;
    margin: 2px auto;
    background-color: black;
}

.btnReset,
#idTxt,
#txt,
#classTxt,
.btnExport,
.border {
    width: 90%;
    height: 5%;
    margin: 5px 5px;
    padding: 0 0 0 2px;
}

#width,
#height,
#thickness,
#radius {
    width: 90%;
    height: 5%;
    margin: 1px 5px;
    padding: 0 0 0 2px;
}

label {
    margin-bottom: 1px;
}

.btnReset:hover,
#colorPick:hover,
#start:hover,
.btnExport:hover,
.border:hover {
    cursor: pointer;
}

#colorPick,
#colorPickBorder {
    width: 40px;
    height: 40px;
}

#backgroundColor,
#borderColor {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}

#start {
    width: 90%;
    height: 30px;
}

input[type=text],
input[type=number] {
    border: 1px black solid;
    padding: 2px !important;
    border-radius: 2px;
}

.itemsMenu {
    width: 100px;
    position: absolute;
    top: 0;
    right: 100px;
}

.sub-menu {
    list-style: none;
}

.sub-menu:hover .border-menu,
.itemsMenu:hover .border-menu-Itens {
    display: block;
}

.sub-menu>.dropdown-item,
.itemsMenu:hover .border-menu-Itens {
    position: inherit !important;
}